* {
    margin: 0%;
    padding: 0%;
     box-sizing: border-box;
}
body{
    background-color: #FFFFFF;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

a {
    text-decoration: none;
    color: black;
}
.Home{
    display: flex;
    width: 100%;
}
.menu-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    font-size: 18px;

}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.menu-option {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 17px;
}

.menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 10px;
    width: 220px;
    /* border: 1px solid black; */
    box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.2);
    height: 100vh;

}

.header{
    height: 70px;
    /* border: 1px solid black; */
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
}

.join-lobby{
    height: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: white;
    color: #2D2A43;
    border: 2px solid #2D2A43;
    border-radius: 10px;
}

.start-quiz{
    height: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: #2D2A43;
    color: white;
    border-radius: 10px;
}

.profile-pic-top{
    width: 45px;
    height: 45px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

.front-img img{
    width: 100%;
    height: 100%;
    max-height: 170px;
    max-width: 170px;
    border-radius: 20px;
}

.menu-side{
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: 40px;
}

.score-chat{
    /* border: 1px solid black; */
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 40px;

}
.scores{
    display: flex;
    gap: 30px;
}
.quiz-wins{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.highest-score{
    display: flex;
    justify-content: center;
    align-items: center;
      gap: 10px;
}

.correct-ans{
    display: flex;
    justify-content: center;
    align-items: center;
      gap: 10px;
}

.icon{
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    font-size: 18px;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #eee;
  margin-bottom: 10px;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background: #6c5ce7;
  transition: 0.3s;
}

.name-all h1{
    font-size: 40px;
}

.details{
    display: flex;
    flex-direction: column;
    gap: 20px;
}